<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/My projects/homework_abstraction/homework_abstraction/Employee_Working_Hard_On_A_Task.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="homework_abstraction.Employee_Working_Hard_On_A_Task"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="My projects"/>
</launchConfiguration>
